<div class="beer-item">
    <div class="header">
        <img class="logo" ng-src="{{beer.icon}}" />
        <h2>{{beer.name}}</h2>
    </div>

    <span>{{beer.description}}</span>

    <div style="margin-top: 10px">
        <span>Brew Date: {{beer.brewDate}}</span>
        <br />
        <span>ABV: {{(beer.originalGravity - beer.finalGravity) * 131 | number : 1}}  %</span>
        <br />
        <span>OG: {{beer.originalGravity | number : 3}}</span>
        <span>FG: {{beer.finalGravity | number : 3}}</span>
        <br />
        <span>IBUs: {{beer.ibu}}</span>
    </div>
</div>