<div class="beer-item" ng-show="beer">
    <div class="header">
        <img class="logo" ng-src="{{beer.icon}}" />
        <h2>{{beer.name}}</h2>
    </div>

    <span>{{beer.description}}</span>

    <div style="margin-top: 10px">
        <span>Style: {{beer.style}}</span>
        <br />
        <span>Brew Date: {{beer.brewDate}}</span>
        <br />
        <div class="cap-codes" ng-show="beer.capCodes">
            
            <span>Cap Codes:</span>
            <ul ng-repeat="capCode in beer.capCodes">
                <li>
                    <span>{{capCode}}</span>
                </li>
            </ul>
        </div>
        <span>ABV: {{(beer.originalGravity - beer.finalGravity) * 131 | number : 1}}  %</span>
        <br />
        <span>OG: {{beer.originalGravity | number : 3}}</span>
        <span>FG: {{beer.finalGravity | number : 3}}</span>
        <br />
        <span>IBUs: {{beer.ibu}}</span>
    </div>
    <br />
</div>