@{
    PageData["title"] = "Schetzler Brewing";
}
<div>

    @*<div>
        <h1>Left Tap:</h1>
        <beer beer="leftTap" />
    </div>*@
    <div>
        <h1>Middle Tap:</h1>
        <beer beer="middleTap" />
    </div>
    <div>
        <h1>Right Tap</h1>
        <beer beer="rightTap" />
    </div>

    <h1>Bottles</h1>

    <ul class="bottle-list">
        <li ng-repeat="bottle in bottles">
            <beer beer="bottle" />
        </li>
    </ul>
</div>