@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<div>
    
    <div>
        <h2>Left Tap</h2>
        <beer info="leftTap"/>
    </div>
    <div>
        <h2>Middle Tap</h2>
        <beer info="middleTap" />
    </div>
    <div >
        <h2>Right Tap</h2>
        <beer info="rightTap"/>
    </div>

    <h2>Bottles</h2>

    <ul>
        <li ng-repeat="bottle in bottles">
            <beer info="bottle"/>
            


        </li>
    </ul>
</div>